<div id="home">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">

          <h1>{{msg}}</h1>
          <br>
          <br>
          <div class="container">
            <form action="newWorkOrder">
              <button style="margin-top: -33px" class="btn btn-dark float-right create">New Work Order
              </button>
            </form>
          </div>
          <ul id="WorkOrder-List" class="list-group">

            {{#each WorkOrder}}

            {{!-- Work Order Data --}}

            <div class="row">
              <strong>#</strong> {{this.id}}
            </div>
            <div class="row">
              <strong>Client Name</strong>: {{this.Name}}
            </div>
            <div class="row">
              <strong>W.O Description</strong>: {{this.Description}}
            </div>
            <div class="row">
              <strong>Completed</strong>: {{this.Completed}}
            </div>

            {{!-- Row of Buttons --}}
            <div class="row">

              {{!-- Delete button --}}
              <div class="col">
                <button class="btn btn-danger delete" data-id="{{WorkOrder.id}}">Delete Work Order</button>
              </div>

              {{!-- New Time Sheet html route --}}
              <div class="col">
                <form action="NewTimeSheet">
                  {{!-- Wrapping text in A tag to temporairly navigate app --}}
                  <button type="submit" class="btn btn-success">Track Time </button>
                </form>
              </div>

              {{!-- View Selected Work Order by ID --}}
              <div class="col">
                <form action="/ViewWorkOrder">
                  <button type="submit" class="btn btn-primary get">View Work Order</button>
                </form>
              </div>
            </div>



            {{/each}}

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>