<div class="container-fluid">
  <div class="container">
    <h2 class="justify-content-center">
      {{msg}}
    </h2>
    <h4>Work Order Info:</h4>
    <ul id="WorkOrder-List" class="list-group">
      {{#with WorkOrder}}
      <div data-id={{this.id}} class="container list-group-items">
        <div class="row">
          <strong>#</strong> {{this.id}}
        </div>
        <br>
        <div class="row">
          <strong>Client Name</strong>: {{this.Name}}
        </div>
        <br>
        <div class="row">
          <strong>W.O Description</strong>: {{this.Description}}
        </div>
        <br>
        <div class="row">
          <strong>Completed</strong>: {{this.Completed}}
        </div>
      </div>
      {{/with}}
    </ul>
    <br>
    <br>
    <br>
    <h4>Time Sheet Info:</h4>
    <ul id="TimeSheet-List" class="list-group">
      <div data-id={{this.id}} class="container list-group-items">
        <div class="row">
          <strong>Employee</strong>:
        </div>
        <br>
        <div class="row">
          <strong>Start TIme</strong>:
        </div>
        <br>
        <div class="row">
          <strong>End Time</strong>:
        </div>
        <br>
        <div class="row">
          <strong>Description</strong>:
        </div>
    </ul>
    <br>
    <br>
    {{!-- This button has a class of home we will use to take us back to --}}
    <div class="row">
      <div class="col">
        {{!-- Display Index --}}
        <form action="/">
          <button class="btn btn-primary">Home
          </button>
        </form>
      </div>
      <div class="col">
        {{!-- Submit Button --}}
        <form action="/">
          <button class="btn btn-success submit">Complete this Work Order</button>
        </form>
      </div>
    </div>
  </div>
</div>